
header {
  background-color: #333333;
  color: #ffffff;
  border-bottom: solid 1px #d4d4d5;
}
header h3 {
  font-family: 'Cherry Swash', cursive !important;
  padding: 12px 0 0 12px;
  font-size: 24px;
}
.left_menu {
  border-right: solid 1px #d4d4d5;
}
.left_menu .content {
  padding: 12px;  
}