<h1>ピックアップ動画</h1>
<div class="row">
  <div class="col-md-12">
    <%= render partial: "shared/video_frame", locals:{video: @pickup_video} %>
  </div>
  <div class="col-md-6">
    <ul>
      <li>新しいチャンネルのフォローを開始</li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul>
      <li>フォロー済みチャンネルの一覧を表示</li>
    </ul>
  </div>
</div>