<div class="three wide column left_menu">
  <div class="content">
    <%= link_to user_channels_path do %>
      <button class="ui labeled icon button">
        <i class="heart icon"></i>
        Channels
      </button>
    <% end %>
  </div>
</div>