<div class="ui borderless main menu">
  <%= link_to user_channels_path do %>
    <button class="ui labeled icon button">
      <i class="heart icon"></i>
      Channels
    </button>
  <% end %>
</div>

<div class="ui borderless main menu placeholder" style="display:none;">
</div>